.pic{width: 100%; background-color: #ffff;height: 560px; display: flex; padding: 25px 0px 25px 0px;}
.book{width: 100%; background-color: #ffffff;height: 300px; display: flex; padding: 25px 0px 25px 0px;}
.example{ width: 50%;background-color: brown;height: 560px;}
.example1{ width: 50%;background-color: brown;height: 300px;}
.m1{ width: 100%; height: 560px; }
.m2{ width: 100%; height: 300px; }
.text{ color: #ffff; font-size: 20px; text-align: center; font-family: system-ui, sans-serif;}
.text h1{ color: #ffff; text-align: center; padding-top: 10%; font-family: system-ui, sans-serif;line-height: 0.5;}
.buttona{ padding: 12px 14px;border-radius: 50px; line-height: 0.5; border: solid 1px #ffff;text-align: center; text-decoration: none; font-size: 15px; }
.text a{ color: #ffff; }
.buttona:hover{ transition: all .2s ease; background-color:brown ;}
h1 {color: black;}
body{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 100%;
	background-color:whitesmoke;
	box-shadow: 0px 0px 4px gray;
}
.header{width: 100%; height: 100px;}
.logo img{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 15px;
	bottom:10px;
	left: 100px;
}
.list{
	position: absolute;
	left: 150px;
	text-transform: uppercase;
	top: 20px;
}
.list li{
	list-style: none;
	display: inline-block;
}
.list li a{
	padding: 10px;
	text-decoration: none;
	color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 17px;
	
}
.list a:hover{
	color: green;

}
.icon {
	position: absolute;
	right: 400px;
	top: 30px;
	padding: 5px;
}
.icon a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}
.icon a:hover{
	color: green;
}
.btn{
	background-color: rgb(245, 235, 235);
	display: inline-block;
	padding: 10px 15px 10px 15px;
	position: absolute;
	right: 200px;
	top: 28px;
	border: 1px solid black;
	border-radius: 17px;
	font-size: 15px;
}
.btn1{
	background-color: rgb(27, 26, 26);
	display: inline-block;
	padding: 10px 15px 10px 15px;
	position: absolute;
	right: 100px;
	top: 28px;
	border: 1px solid black;
	border-radius: 17px;
	font-size: 15px;
	color: whitesmoke;
}
.btn:hover{
	background-color: rgb(233, 222, 222);
}
.btn1:hover{
	background-color: rgb(173, 168, 168);
	color: rgb(240, 230, 230);
}
.coffee{
    width: 100%;
    background-color: white;
    height: 250px;
    display: flex;
    padding: 25px 0px 25px 0px;
  }
  .exm1{
    width: 50%;
    background-color: white;
    height: 250px;
  }
  .i1{
    width: 100%;
    height: 250px;

  }
  .head{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    padding: 5% 0% 5% 0%;
    font-family: system-ui, sans-serif;
  }
  .buttona {border-radius: 50px; text-decoration: none; border: solid 1px #ffff; padding: 5px 20px;}
  .hah{
	width: 100%; 
	background-color: #ffff;
	height: 550px; 
	display: flex; 
	padding: 25px 0px 25px 0px;
  }
  .exm2{ 
	width: 50%;
	background-color: white;
	height: 560px;}

.text1{ 
		color: black; 
		font-size: 25px; 
		text-align: center; 
		padding: 5px 0px 10px 0px;
	  }
	  .foodter-info{
    width: 100px;
    height: 50px;
    background-size: cover;
    position: relative;
    bottom: 0;

}
.footer{width: 100%;}
.foodter-info3{
    color: rgb(11, 11, 11);
    left: 5%;
    height: 250px;
    position: absolute;
    z-index: 2;
}
.foodter-info1{
    color: rgb(15, 14, 14);
   left : 25%;
   height: 250px;
    position: absolute;
    z-index: 2;

}
.foodter-info2{
    color: rgb(27, 24, 24);
    left:  45%;
    height: 250px;
    position: absolute;
    z-index: 2;
}
.foodter{ display: flex;}
.foodter-info4{
    color: rgb(27, 24, 24);
    left:  65%;
    height: 250px;
    position: absolute;
    z-index: 2;
}
.foodter-info5{
    color: rgb(27, 24, 24);
    right:   5%;
    height: 250px;
    position: absolute;
    z-index: 2;
}
.hr{
    width: 90%;
    padding: 20px 0;
    color: rgb(16, 14, 14);
    margin:auto;
    size: 50px;
    bottom: 0;
}
.hr2{
    width: 90%;
    padding: 20px 0;
    color: rgb(16, 14, 14);
    margin:auto;
    margin-top:250px;
    size: 50px;
    bottom: 0;
}
.foo{ width: 100%; padding-top: 300px;}

#foo1{
display: flex;
left: 5%;
justify-content: space-between;
align-items: center ;
z-index: 2;
position: absolute;
}
#foo01{
    left: 13%;
    z-index: 2;
    position: absolute;

    }

#foo2{
    display: flex;
    left: 15%;
    justify-content: space-between;
    align-items: center ;
    z-index: 2;
    position: absolute;

    }
    #foo02{
        display: flex;
        left:22%;
        justify-content: space-between;
        align-items: center ;
        z-index: 2;
        position: absolute;
    
        }
    #foo3{
        display: flex;
        left: 25%;
        justify-content: space-between;
        align-items: center ;
        z-index: 2;
        position: absolute;
    
        }
        #foo03{
            display: flex;
            left:34%;
            justify-content: space-between;
            align-items: center ;
            z-index: 2;
            position: absolute;
        
            }
        #foo4{
            display: flex;
            left: 35%;
            justify-content: space-between;
            align-items: center ;
            z-index: 2;
            position: absolute;
        
            }
            .foo5{
             display: flex;
            left: 5%;
            justify-content: space-between;
            align-items: center ;
            position: absolute;
            }